Index
In this page the user uploads a CSV file
<div>
<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
</div>

<h1>Contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Last_digits</th>
    <th>Franchise</th>
    <th>Email</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.birthday %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.address %></td>
    <td><%= contact.last_digits %></td>
    <td><%= contact.franchise %></td>
    <td><%= contact.email %></td>
    <td><%= link_to 'Show', contact_path(contact) %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Delete', contact_path(contact), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>  

<h2>Import contacts</h2>
<%= form_tag import_contacts_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import' %>
<% end %>  
