
<h2>Contacts List</h2>

<div class="container">
<h4>Do you have upload contacts?</h4>
<%= link_to 'Next to upload', new_import_contact_path, class: 'btn1' %>
</div>

<div class="row m-0">
  <table class="table">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Last_digits</th>
      <th scope="col">Franchise</th>
      <th scope="col">Email</th>
    </tr>

  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= birthday_format(contact.birthday) %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.address %></td>
      <td><%= contact.last_digits %></td>
      <td><%= contact.franchise %></td>
      <td><%= contact.email %></td>
      <td><%= link_to 'Show', contact_path(contact) %></td>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td><%= link_to 'Delete', contact_path(contact), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table>  
</div>
<%= will_paginate @contacts %>
