<h2>Import CSV Files</h2>

<%= form_tag import_import_contacts_path, multipart: true do %>
  <div>
  <%= file_field_tag :file, required: true %>
  </div>
  <div>
  <%= 'Select your 1st row'%>
    <%= select_tag "credit_card", options_for_select([ "name", "birthday", "phone", "address", "credit_card", "email" ], "name"), :required => true %>
  </div>
  <div>
  <%= 'Select your 2nd row'%>
    <%= select_tag "credit_card", options_for_select([ "name", "birthday", "phone", "address", "credit_card", "email" ], "birthday"), :required => true %>
  </div>
  <div>
  <%= 'Select your 3rd row'%>
    <%= select_tag "credit_card", options_for_select([ "name", "birthday", "phone", "address", "credit_card", "email" ], "phone"), :required => true %>
  </div>
  <div>
  <%= 'Select your 4th row'%>
    <%= select_tag "credit_card", options_for_select([ "name", "birthday", "phone", "address", "credit_card", "email" ], "address"), :required => true %>
  </div>
  <div>
  <%= 'Select your 5th row'%>
    <%= select_tag "credit_card", options_for_select([ "name", "birthday", "phone", "address", "credit_card", "email" ], "credit_card"), :required => true %>
  </div>
  <div>
  <%= 'Select your 6th row'%>
    <%= select_tag "credit_card", options_for_select([ "name", "birthday", "phone", "address", "credit_card", "email" ], "email"), :required => true %>
  </div>
  <div>
  <%= submit_tag "Import Contacts", class: 'btn2' %>
  </div>
<% end %>
</div>